body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-family: 'Poppins', sans-serif; 
}

.container1
{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container1 .box
{

position: relative;
width: 250px;
padding: 60px;
background: #fff;
box-shadow: 0 5px 15px rgba(0,0,0, .1);
border-radius: 4px;
margin: 20px;
box-sizing: border-box;
overflow: hidden;
text-align: center;

}
.container1 .box:before
{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  background: rgba(255,255,255,.2);
  z-index: 2;
  pointer-events: none;
}

.container1 .box .icon1
{
  position: relative;
  width: 80px;
  height: 80px;
  color: #0000ff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px; 
  font-weight: 700;
  transition: 1s;
}

.container1 .box:nth-child(1) .icon1
{
  box-shadow: 0 0 0 0 #e91e63;
  background: #e91e63;
}

.container1 .box:nth-child(1):hover .icon1
{
 box-shadow: 0 0 0 400px #e91e63; 
}
.container1 .box:nth-child(2) .icon1
{
  box-shadow: 0 0 0 0 #e91e63;
  background: #e91e63;
}

.container .box:nth-child(2):hover .icon1
{
 box-shadow: 0 0 0 400px #e91e63; 
}


.container .box .content 
{
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.container .box:hover .content
{
  color: black;
}

.container .box .content h4
{
  font-size: 25px;
  margin: 10px 0;
  padding: 0;
  color: black;

}

.container .box .content p
{
margin: 0;
padding: 0;
color: black;
}


.container .box .content a
{
  display: inline-block;
  padding: 5px 5px;
  background: green;
  border-radius: 2px;
  text-decoration:none;
  color: white;
  font-weight: 100;
  margin-top: 5px;
  box-shadow: 0 2px

}









/*//*/