body {
    font-family: Helvetica, sans-serif, sans-serif;
    font-size: 13px;
    border-top: none;
    background-image: url('../Images/iNeed__waterfall_BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
      background-color:red;
}

